.event-description {
  h4 {
    font-weight: 500;
    font-size: 24px;
  }
  p {
    font-weight: 100;
    font-size: 16px;
  }
}

.booking-information {
  p {
    font-weight: 100;
    font-size: 16px;
  }
}
