
.space_image{
height: 450px;
background-size: cover;
background-position: 0px -300px;
}


#main_title{
margin-left: 50px;
padding-top: 350px;
font-size: 50px;
color: white;
font-style: "Raleway";
}

.details {
padding: 10px;
margin-top: 20px;
  h4 {
    font-weight:400;
    font-size:18px;
  }
  p {
    font-weight: 100;
  }
}

.space-header li {
  font-weight: 100;
}

#space_link {
padding: 10px;
margin-top: 10px;
font-size: 15px;
font-style: bold;
background-color: transparent;
border-radius: 4px;
}

.space-booking {
  border-radius: 2px;
  background-color: rgb(253, 253, 253);
  height : 100%;
  border: 1px solid rgb(233, 232, 234);
  font-weight: 100;
  padding: 16px;
  h3 {
    font-weight: 500;
    font-size: 24px;
  }
}


.space-user {
padding: 10px;
}

.column-third {
  width: 33%;
  padding: 4px;
}

.column-two-thirds {
  width: 67%;
  padding: 4px;
}

.user-details {
  padding-left: 20px;
  p {
    font-weight: 100;
  }
  h4 {
    font-weight: 400;
  }
}

.details .list-inline-item {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 8px;
  font-weight: 100;
  margin-bottom: 8px;
}

.booking-header{
  padding: 10px;
  margin-top: 10px;
  font-size: 23px;
  font-weight: bolder;
  border-radius: 4px;
  background-position: -30px 0px;
}

.booking_details{
  font-size: 15px;
  padding: 1px;
  border-radius: 4px;
}

.space-reviews {
  border-radius: 2px;
  background-color: rgb(253, 253, 253);
  height : 100%;
  font-weight: 100;
  border: 1px solid rgb(233, 232, 234);
  padding: 16px;
  h3 {
    font-weight: 500;
    font-size: 24px;
  }
  margin-bottom: 24px;
}
