<div class="home-banner">
  <h1>Show must go home</h1>
  <div class="form-inline d-flex justify-content-center mt-3">
    <a class="btn btn-lg btn-dark" href="/spaces">Découvrez les espaces disponibles</a>
<!--     <h3>Je souhaite organiser un  </h3> -->
<!--           ajouter un simple form pour appeler la collection event type
 -->
<!--     <h3>  à </h3>
 --><!--     ajouter le render de la search bar et adapter le style
 -->
  </div>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

    </div>
  </div>
</div> -->
