<div class="home-banner">
  <div class="container">
  <h1>SOYEZ PLUS PROCHE DU PUBLIC</h1>
  <h2>Organisez un spectacle chez un particulier</h2>
  <a class="btn btn-lg btn-dark" href="/spaces">Découvrez les espaces disponibles</a>
<!--     <h3>Je souhaite organiser un  </h3> -->
<!--           ajouter un simple form pour appeler la collection event type
 -->
<!--     <h3>  à </h3>
 --><!--     ajouter le render de la search bar et adapter le style
 -->
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

    </div>
  </div>
</div>
