.home-banner {
  height: 100vh;
  color: #eee;
  text-align: center;
  margin-top: -60px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dg8fxmpur/image/upload/v1566562145/on-a-teste-benabar-et-camelia-jordana-en-concert-d-appartement_cxpgmg.jpg');
  background-size: cover;
}

.home-banner .container {
  padding-top: 40vh;
  h1 {
      font-weight: 800;
  }
  h2 {
      font-size: 30px;
      font-weight: lighter;
      margin-bottom: 20px;
  }
}
