.home-banner {
  height: 100vh;
  color: #eee;
  text-align: center;
  margin-top: -60px;
  background-size: cover;
}

.home-banner .container {
  padding-top: 40vh;
  h1 {
      font-weight: 800;
  }
  h2 {
      font-size: 30px;
      font-weight: lighter;
      margin-bottom: 20px;
  }
}
