.btn-danger {
  color: black;
  background-color: transparent;
  font-weight: 100;
}

.btn-secondary {
  color: black;
  background-color: transparent;
  font-weight: 100;
}

.btn-success {
  color: white;
}

.action-btn {
  margin: 8px;
}

.accept {

}

.refuse {

}

.reviews{
  display: inline-grid;
  width: 100%;
}

.add-reviews{
  margin: 20px 0px 60px 20px ;
}
