.btn-danger {
  color: black;
  background-color: transparent;
  font-weight: 100;
}

.btn-secondary {
  color: black;
  background-color: transparent;
  font-weight: 100;
}


.action-btn {
  margin: 8px;
}

.accept {

}

.refuse {

}
