.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    font-weight: 500;
  }
}

#map {
  position: sticky;
  top: 0;
}

