.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 18px;
  }
}

#map {
  position: sticky;
  top: 0;
}
